@{
    ViewBag.Title = "About";
}


<section class="cmspage mtb-40">
    <div class="container">
        <h1>Our Company</h1>
        <div class="page-desc">
            <p>@ViewBag.Message</p>
         
        </div>
    </div>
</section>
