@{
    ViewBag.Title = "Contact";
}

<section class="cmspage mtb-40">
    <div class="container">
        <div class="page-desc">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1>Contact Us</h1>
                    <div class="login-box-contact">

                        <address>
                            NH-28, Near ICICI Bank,<br /> Sahjanawa
                            Gorakhpur, <br />Uttar Pradesh -273209 <br />
                                                                   <abbr title="Phone">
                                                                       P:+91 9919992244 <br />
                                                                       &nbsp; &nbsp;+91 9125731740
                                                                   </abbr>
                         
                        </address>

                        <address>
                            <strong>Support:</strong>   <a href="mailto:awesomefurniture.up@gmail.com">Support@example.com</a><br />
                            
                        </address>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>Contact</h1>
                    <form>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="E-Mail">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea name="message" rows="5" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

